.panels {
	display: inline-block;
	border: 1px solid black;
	height: 100%;
	min-height: 400px;
}

#panel-left,
#panel-right {
	width: 20%;
	min-width: 100px;
}

#panel-left {
	float: left;
}

#panel-right {
	float: right;
}

#panel-center {
	width: 50%;
	min-width: 200px;
	margin-left: 5%;
	margin-right: 5%;
}

#front-image {
	height: 500px;
}